@use "utils/variables" as *;
@use "utils/mixins" as *;

.goods-section {
  padding: 100px 0; // тимчасово

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid $border-color;
    transition: 0.3s;
    &:hover {
      transform: scale(1.03);
    }
  }
}

.item {
  &__article {
    width: 100%;
    height: 100%;
  }
  &__anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
  &__image {
    aspect-ratio: 1;
    object-fit: contain;
    max-inline-size: 200px;
    width: 100%;
    margin-bottom: 15px;
  }
  &__title {
    @include textClamp(2);
    margin-bottom: 15px;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    margin-top: auto;
  }
  &__price {
    font-weight: 700;
  }
  &__add-button {
    @include button($primary-color-light, $primary-color);
  }
}
