@use "../utils/variables" as *;

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: $primary-color;
  color: $primary-color-light;

  &__container {
    display: flex;
    justify-content: space-between;
    block-size: 50px;
    align-items: center;
    gap: 30px;
  }
  &__logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__logo {
    color: $primary-color-light;
    font-weight: 700;
  }
  &__img {
    width: 50px;
  }

  &__nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__search-container {
    display: flex;
    align-items: center;
  }

  &__input-button {
    height: 30px;
    padding: 5px;
    text-align: center;
    background-color: $primary-color;
    border: 1px $primary-color-light solid;
    color: $primary-color-light;
    font-weight: 500;
    border-radius: 0 15px 15px 0;
  }

  &__input {
    margin-left: auto;
    border-radius: 15px 0 0 15px;
    height: 25px;
    padding: 15px;
    min-inline-size: 200px;
    color: $primary-color;
  }
  &__buttons {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  &__cart-open-button {
    position: relative;
    background-color: transparent;
    span {
      display: none;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $secondary-color;
      top: 2px;
      right: 0;
      border-radius: 50%;
      border: 1px solid white;
    }
  }

  &__icon-cart {
    width: 35px;
    height: 35px;
    color: $primary-color-light;
    fill: none;
  }
  &__burger {
  }
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
  &__line {
    background-color: $primary-color-light;
    width: 25px;
    height: 3px;
    border-radius: 15px;
  }
  &__line--short {
    width: 20px;
    align-self: end;
  }

  @media (max-width: 780px) {
    display: flex;
  }
}

.menu-navigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40vw;
  max-width: 400px;
  padding: 5px 25px;
  background-color: $primary-color-light;
  border-left: 3px $primary-color solid;

  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 0.3s ease;

  z-index: 1500;

  &--open {
    transform: translateX(0);
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
  }

  &__close-icon {
    width: 30px;
    height: 30px;
    color: $primary-color;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    gap: 2em;
    color: black;
  }

  &__item {
    &--active {
      font-weight: 700;
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
    > a {
      transition: 0.3s;
    }
    &:hover > a {
      color: $primary-color;
    }
  }

  &__dropdown-btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 5px;
    padding: 5px 10px 5px 0;
    background-color: transparent;

    > span,
    > svg {
      transition: 0.3s;
    }

    &:hover > span,
    &:hover > svg {
      color: $primary-color;
      fill: $primary-color;
    }
  }

  &__dropdown-list {
    font-size: 0.875rem;
    display: none;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 10px;

    li {
      transition: 0.3s;
    }
    li:hover {
      color: $primary-color;
    }
  }
}
