@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color-light;
    width: 60vw;
    height: 80vh;
    position: relative;
    border-radius: 15px;
    overflow-y: auto;
  }

  &__title {
    position: absolute;
    top: 25px;
    left: 30px;
    font-weight: 700;
    color: $primary-color;
    font-size: 1.5rem;
  }
  &__cart-close-button {
    position: absolute;
    top: 25px;
    right: 30px;
    background-color: transparent;
  }
  &__icon-close {
    width: 30px;
    height: 30px;
    color: $primary-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
  &__image {
    aspect-ratio: 1;
    max-inline-size: 150px;
    object-fit: contain;
    width: 100%;
  }
  &__product-name {
    @include textClamp(3);
    max-inline-size: 150px;
    text-align: center;
  }
  &__price {
    font-weight: 700;
  }
  &__quantity {
    border: 1px solid black;
    border-radius: 5px;
    text-align: end;
    max-inline-size: 65px;
    font-weight: 700;
    padding: 5px;
  }
  &__product-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__quantity-info {
    display: flex;
    gap: 10px;
  }
  &__delete-button {
    @include button($primary-color-light, $secondary-color);
  }

  &__full-cart {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.empty-cart {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  inline-size: 100%;
  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    opacity: 0.7;
    color: $primary-color;
  }
  &__image {
    width: 40%;
    opacity: 0.9;
  }
  &__messagge {
    color: $primary-color;
    opacity: 0.5;
  }
}

.total-price {
  display: flex;
  gap: 10px;
  width: 100%;
  &__text {
    font-weight: 700;
  }
  &__amount {
    color: green;
    text-decoration: underline;
    font-weight: 700;
  }
}
