@use "utils/variables" as *;

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  border-right: 1px solid $primary-color;
  min-width: 150px;

  @media (max-width: 780px) {
    display: none;
  }
}
.navigation {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    gap: 2em;
  }

  &__item {
    &--active {
      font-weight: 700;
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
    > a {
      transition: 0.3s;
    }
    &:hover > a {
      color: $primary-color;
    }
  }

  &__dropdown-btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 5px;
    padding: 5px 10px 5px 0;
    background-color: transparent;

    > span,
    > svg {
      transition: 0.3s;
    }

    &:hover > span,
    &:hover > svg {
      color: $primary-color;
      fill: $primary-color;
    }
  }

  &__dropdown-list {
    font-size: 0.875rem;
    display: none;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 10px;

    li {
      transition: 0.3s;
    }
    li:hover {
      color: $primary-color;
    }
  }
}

.open {
  display: flex;
}

.rotated {
  transform: rotate(180deg);
}
