* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #d24205;
  color: #fff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  block-size: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}
.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}
.header__logo {
  color: #fff;
  font-weight: 700;
}
.header__img {
  width: 50px;
}
.header__input {
  margin-left: auto;
  border-radius: 15px;
  height: 25px;
  padding: 15px;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__cart-open-button {
  position: relative;
  background-color: transparent;
}
.header__cart-open-button span {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #de0101;
  top: 2px;
  right: 0;
  border-radius: 50%;
  border: 1px solid white;
}
.header__icon-cart {
  width: 35px;
  height: 35px;
  color: #fff;
  fill: none;
}
.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
}
.burger__line {
  background-color: #fff;
  width: 25px;
  height: 3px;
  border-radius: 15px;
}
.burger__line--short {
  width: 20px;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}
@media (max-width: 780px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  border-right: 1px solid #d24205;
  min-width: 150px;
}
@media (max-width: 780px) {
  .sidebar {
    display: none;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 100px;
  gap: 2em;
}
.navigation__item--active {
  font-weight: 700;
  color: #d24205;
  border-bottom: 2px solid #d24205;
}
.navigation__item > a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navigation__item:hover > a {
  color: #d24205;
}
.navigation__dropdown-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
  padding: 5px 10px 5px 0;
  background-color: transparent;
}
.navigation__dropdown-btn > span,
.navigation__dropdown-btn > svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navigation__dropdown-btn:hover > span,
.navigation__dropdown-btn:hover > svg {
  color: #d24205;
  fill: #d24205;
}
.navigation__dropdown-list {
  font-size: 0.875rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5em;
  margin-left: 10px;
}
.navigation__dropdown-list li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navigation__dropdown-list li:hover {
  color: #d24205;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rotated {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.goods-section {
  padding: 100px 0;
}
.goods-section__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}
.goods-section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid gray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.goods-section__item:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.item__article {
  width: 100%;
  height: 100%;
}
.item__anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.item__image {
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain;
  max-inline-size: 200px;
  width: 100%;
  margin-bottom: 15px;
}
.item__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}
.item__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 95%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: auto;
}
.item__price {
  font-weight: 700;
}
.item__add-button {
  color: #fff;
  background-color: #d24205;
  border: 2px solid transparent;
  padding: 7px;
  border-radius: 5px;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.item__add-button:hover {
  background-color: transparent;
  color: #d24205;
  border: 2px solid #d24205;
}
.item__add-button:active {
  color: #fff;
  background-color: #d24205;
  -webkit-transform: translate(0, 2px);
  transform: translate(0, 2px);
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  width: 60vw;
  height: 80vh;
  position: relative;
  border-radius: 15px;
  overflow-y: auto;
}
.modal__title {
  position: absolute;
  top: 25px;
  left: 30px;
  font-weight: 700;
  color: #d24205;
  font-size: 1.5rem;
}
.modal__cart-close-button {
  position: absolute;
  top: 25px;
  right: 30px;
  background-color: transparent;
}
.modal__icon-close {
  width: 30px;
  height: 30px;
  color: #d24205;
}
.modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
}
.modal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;
}
.modal__image {
  aspect-ratio: 1;
  max-inline-size: 150px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
.modal__product-name {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-inline-size: 150px;
  text-align: center;
}
.modal__price {
  font-weight: 700;
}
.modal__quantity {
  border: 1px solid black;
  border-radius: 5px;
  text-align: end;
  max-inline-size: 65px;
  font-weight: 700;
  padding: 5px;
}
.modal__product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}
.modal__quantity-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.modal__delete-button {
  color: #fff;
  background-color: #de0101;
  border: 2px solid transparent;
  padding: 7px;
  border-radius: 5px;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal__delete-button:hover {
  background-color: transparent;
  color: #de0101;
  border: 2px solid #de0101;
}
.modal__delete-button:active {
  color: #fff;
  background-color: #de0101;
  -webkit-transform: translate(0, 2px);
  transform: translate(0, 2px);
}
.modal__full-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}

.empty-cart {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  inline-size: 100%;
}
.empty-cart__title {
  font-weight: 700;
  font-size: 1.5rem;
  opacity: 0.7;
  color: #d24205;
}
.empty-cart__image {
  width: 40%;
  opacity: 0.9;
}
.empty-cart__messagge {
  color: #d24205;
  opacity: 0.5;
}

.total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
}
.total-price__text {
  font-weight: 700;
}
.total-price__amount {
  color: green;
  text-decoration: underline;
  font-weight: 700;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow: clip;
}

.content {
  grid-area: main-content;
}
.content__container {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "aside main main main";
  -ms-grid-columns: auto 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: auto 1fr 1fr 1fr;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 780px) {
  .content__container {
    grid-template-areas: "main";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

aside {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aside;
}

main {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-area: main;
}

@media (max-width: 780px) {
  main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

body {
  font-family: "Roboto", "Helvetica", "Segoe UI", sans-serif;
}

[class*="__container"] {
  max-inline-size: 1310px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}
